.addAnimal {
  .newAnimalForm {
    display: flex;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      button {
        display: inline-block;
        width: 50px;
        height: 25px;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    table.newAnimalFormLayout {
      width: 100%;
      tr {
        td {
          width: 50%;
          padding: 5px;

          &:nth-child(1) {
            text-align: right;
          }

          .radio {
            div {
              display: inline-flex;
              flex-direction: row;

              label {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}