p {
  text-align: center;
}
.animalHeader {
  display: grid;
  grid-template-areas: '.carousel .animalDetails';
  grid-gap: 2rem;
  .carousel {
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  h2, p {
    text-align: center;
    line-height: 1;
  }
}
.otherInfo {
  display: grid;
  grid-template-areas: '.description .animalChecklist' ;
  grid-gap: 2rem;
    .description, .animalChecklist {
    padding-top: 1rem;
    text-align: start; 
  }
}

@media only screen and (max-width: 1300px) {
  h2 {
    text-align: center;
  }
  .animalHeader, .otherInfo {
    display: flex;
    flex-direction: column;
}
}

@media only screen and (max-width: 800px) {
  .carousel {
  zoom: 50%;
  }
}
