.animalHeader {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  .carousel, .animalDetails {
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  h2, p {
    text-align: center;
    line-height: 1;
  }
}

.description, .medicalBehavior {
  p, h2 {
   padding-top: 1rem;
  text-align: left; 
  }
}


